html, body {
  margin: 0;
  color: #333333;
  background: #fff;
  font-size: 16px;
  font-family: "Fira Sans",sans-serif;
}

.header {
  color: #ffffff;
  border-top: 3px solid #00ff00;
  background-color: rgba(0,0,0, .5);
}

.content {
  background-color: rgba(0,0,0, .1);
  text-align: center;
 
}

.content .inner {
  min-height: 900px;
  width: 400;
}

.footer {
  color: #ffffff;
  background-color: rgba(0,0,0, .5);
}

.footer .inner {
  height: 200px;
}

.inner {
  width: 800px;
  height: 100px;
  margin: 0 auto;
}

.inner h1 {
  align: center;
  margin:   0;
  padding-top: 30px;
}

.inner hr {
  margin: 0;
  width: 100%;
  align: center;
}

.abzatz p {
  align: center;
}

.pic {
  align: center;
}

